.idea
.vscode

/service/static/config/config.yaml
！/service/static/config/

/service/static/config/cert/*
!/service/static/config/cert/
!/service/static/config/cert/README.md

/config/*
!/config/config_example.yaml
!/config/

/config/cert/*
!/config/cert/
!/config/cert/README.md

build
