<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Download</title>
    <style>
        body {
            padding: 16px;
        }
        ul {
            padding: 0;
            margin-bottom: 16px;
        }

        li {
            font-size: 24px;
            list-style: none;
            line-height: 36px;
        }
    </style>
</head>
<body>
<h1>{ Title }</h1>
<ul>{ Up }{ List }</ul>
</body>
</html>
